# Node modules
node_modules/

# Environment variables
.env

# Logs
*.log

# Build directories
dist/
build/

# Package lock
package-lock.json
package.json

# OS-specific files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/